<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.iter.tuongnguyen.cta">
    <application
        android:allowBackup="true"
        android:icon="@drawable/avatar7"
        android:label="@string/app_name"
        android:roundIcon="@drawable/avatar7"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".AddActivity" />
        <activity android:name=".ChoseAvatarActivity" />
        <activity android:name=".EditActivity" />

    </application>

</manifest>